.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
  }
  